.section.head {
  height: 100vh;
  max-height: calc(100vh - 94px);
  background-image: url("../../images/about/headBg.png");
  background-size: cover;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .section.head {
    max-height: calc(100vh - 74px);
  }
}
@media (max-width: 640px) {
  .section.head {
    max-height: calc(100vh - 64px);
  }
}
@media (max-width: 640px) and (max-height: 720px) {
  .section.head {
    min-height: 650px;
  }
}
.section.head .content_bg {
  position: relative;
  top: 205px;
  left: 360px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1700px) {
  .section.head .content_bg {
    top: 55px;
    left: 160px;
  }
}
@media (max-width: 800px) {
  .section.head .content_bg {
    width: 80vw;
  }
}
@media (max-width: 640px) {
  .section.head .content_bg {
    top: 50px;
    left: 40px;
  }
}
.section.head .content_bg p {
  font-size: 74px;
  line-height: 74px;
  font-weight: 900;
  color: #FEFEFE;
  margin-bottom: 35px;
  max-width: 790px;
}
@media (max-width: 1920px) {
  .section.head .content_bg p {
    font-size: 74px;
    line-height: 74px;
  }
}
@media (max-width: 1620px) {
  .section.head .content_bg p {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (max-width: 1240px) {
  .section.head .content_bg p {
    font-size: 64px;
    line-height: 64px;
  }
}
@media (max-width: 1024px) {
  .section.head .content_bg p {
    font-size: 50px;
    line-height: 50px;
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .section.head .content_bg p {
    font-size: 40px;
    line-height: 40px;
    max-width: 450px;
  }
}
@media (max-width: 450px) {
  .section.head .content_bg p {
    font-size: 30px;
    line-height: 30px;
    max-width: 320px;
  }
}
.section.head .content_bg button {
  padding: 10px 40px;
  color: #FEFEFE;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1920px) {
  .section.head .content_bg button {
    padding: 10px 40px;
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 1620px) {
  .section.head .content_bg button {
    padding: 10px 30px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 640px) {
  .section.head .content_bg button {
    padding: 10px 30px;
    height: 35px;
    font-size: 14px;
    line-height: 20px;
  }
}
.section.head .content_bg button .icon {
  width: 32px;
  height: 32px;
  background-image: url("../../images/about/play.png");
  background-size: cover;
  margin-right: 5px;
}
@media (max-width: 1920px) {
  .section.head .content_bg button .icon {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 1620px) {
  .section.head .content_bg button .icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1240px) {
  .section.head .content_bg button .icon {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 1024px) {
  .section.head .content_bg button .icon {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 640px) {
  .section.head .content_bg button .icon {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 450px) {
  .section.head .content_bg button .icon {
    width: 20px;
    height: 20px;
  }
}
.section.head .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 110px;
  width: 20px;
  position: absolute;
  left: 150px;
  bottom: 100px;
}
@media (max-width: 640px) {
  .section.head .socials {
    left: 10px;
  }
}
.section.head .socials .instagram,
.section.head .socials .twitter,
.section.head .socials .youtube,
.section.head .socials .vk {
  width: 20px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-bottom: 15px;
}
.section.head .socials .instagram {
  background-image: url("../../images/icons/instagram.svg");
}
.section.head .socials .twitter {
  background-image: url("../../images/icons/twitter.svg");
}
.section.head .socials .youtube {
  background-image: url("../../images/icons/youtube.svg");
}
.section.head .socials .vk {
  background-image: url("../../images/icons/vk.svg");
  margin-bottom: 0;
}
.section.head .head_slider {
  position: absolute;
  width: 1124px;
  height: 410px;
  bottom: 80px;
  right: -40px;
}
@media (max-width: 1620px) {
  .section.head .head_slider {
    width: 800px;
  }
}
@media (max-width: 1030px) {
  .section.head .head_slider {
    width: 600px;
  }
}
@media (max-width: 770px) {
  .section.head .head_slider {
    right: -80px;
  }
}
@media (max-width: 560px) {
  .section.head .head_slider {
    width: 500px;
    left: 0;
    bottom: 200px;
  }
}
@media (max-width: 560px) and (max-height: 840px) {
  .section.head .head_slider {
    bottom: 100px;
  }
}
.section.head .head_slider:after {
  position: absolute;
  content: "";
  left: -120px;
  top: 176px;
  width: calc(100% + 30px);
  height: 1px;
  background-color: #FEFEFE;
}
@media (max-width: 770px) {
  .section.head .head_slider:after {
    left: -30px;
  }
}
.section.head .head_slider:before {
  position: absolute;
  content: "";
  left: -125px;
  top: 170.4px;
  width: 13px;
  height: 13px;
  background-image: url("../../images/icons/pointWithCircle.svg");
}
@media (max-width: 770px) {
  .section.head .head_slider:before {
    left: -30px;
  }
}
.section.head .head_slider .swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section.head .head_slider .swiper-slide {
  max-height: 352px;
  background-color: transparent;
}
.section.head .head_slider .swiper-slide .content {
  position: relative;
  max-height: 50%;
  overflow: hidden;
  bottom: 30px;
  opacity: 0;
  transition: 0.3s linear;
  z-index: 2;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  max-width: 140px;
}
.section.head .head_slider .swiper-slide .description {
  max-width: 100px;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.section.head .head_slider .swiper-slide.swiper-slide-next {
  margin-top: 0;
  height: 352px;
  transition: 0.3s linear;
}
.section.head .head_slider .swiper-slide.swiper-slide-next .slide {
  width: 245px;
  height: 352px;
}
@media (max-width: 1620px) {
  .section.head .head_slider .swiper-slide.swiper-slide-next .slide {
    width: 245px;
    height: 352px;
  }
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide.swiper-slide-next .slide {
    width: 160px;
    height: 250px;
  }
}
.section.head .head_slider .swiper-slide.swiper-slide-next .description {
  max-width: 200px;
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide.swiper-slide-next .description {
    overflow: hidden;
    max-height: 80px;
  }
}
.section.head .head_slider .swiper-slide.swiper-slide-next .content {
  max-width: 245px;
  opacity: 1;
  transition: 0.3s linear;
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide.swiper-slide-next .content {
    padding: 0 5px;
    width: 150px;
    height: 220px;
    max-height: 150px;
  }
}
.section.head .head_slider .swiper-slide .slide {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 140px;
  height: 203px;
  transition: 0.3s;
  position: relative;
  border-radius: 5px;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
}
@media (max-width: 1620px) {
  .section.head .head_slider .swiper-slide .slide {
    width: 113px;
    height: 164px;
  }
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide .slide {
    width: 140px;
    height: 202px;
  }
}
.section.head .head_slider .swiper-slide .slide:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.section.head .head_slider .swiper-slide .group_btn {
  margin-top: 15px;
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide .group_btn {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.section.head .head_slider .swiper-slide .group_btn button {
  display: flex;
  align-items: center;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
}
.section.head .head_slider .swiper-slide .group_btn button:first-of-type {
  color: #4bd8b5;
  width: 145px;
  filter: brightness(1.75);
  margin-right: -8px;
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide .group_btn button:first-of-type {
    margin-right: 0;
  }
}
.section.head .head_slider .swiper-slide .group_btn button:first-of-type .icon {
  background-color: #4bd8b5;
}
.section.head .head_slider .swiper-slide .group_btn button:last-of-type {
  margin-left: -8px;
  margin-top: -1px;
}
@media (max-width: 560px) {
  .section.head .head_slider .swiper-slide .group_btn button:last-of-type {
    margin: 0;
  }
}
.section.head .head_slider .swiper-slide .group_btn button .icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px 24px;
  margin-right: 5px;
  background-color: #fff;
}
.section.head .head_slider .swiper-slide .group_btn button .icon.play {
  -webkit-mask-image: url("../../images/icons/play.svg");
  mask-image: url("../../images/icons/play.svg");
}
.section.head .head_slider .swiper-slide .group_btn button .icon.donate {
  -webkit-mask-image: url("../../images/icons/dolar.svg");
  mask-image: url("../../images/icons/dolar.svg");
}
.section.head .range-slider {
  position: absolute;
  bottom: 0;
  right: 665px;
}
@media (max-width: 1620px) {
  .section.head .range-slider {
    right: 270px;
  }
}
@media (max-width: 1030px) {
  .section.head .range-slider {
    right: 175px;
  }
}
@media (max-width: 770px) {
  .section.head .range-slider {
    right: 175px;
  }
}
@media (max-width: 560px) {
  .section.head .range-slider {
    bottom: 60px;
    right: 175px;
  }
}
@media (max-width: 500px) {
  .section.head .range-slider {
    display: none;
  }
}

.abt.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.abt .modal-body {
  padding: 0;
}
.abt .modal_about {
  height: 795px;
  width: 1200px !important;
  max-width: 100% !important;
  min-height: unset !important;
}
.abt .modal_about .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.abt .modal_about .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.abt .modal_about .fone {
  min-width: 164px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  background-image: url("../../images/about/modalBg.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 430px) {
  .abt .modal_about .fone {
    display: none;
  }
}
.abt .modal_about .input_box {
  max-width: 725px;
  width: 100%;
  margin: 100px auto 55px;
}
@media (max-width: 570px) {
  .abt .modal_about .input_box {
    padding: 0 10px;
  }
}
.abt .modal_about .input_box .title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #313131;
  margin-bottom: 45px;
}
@media (max-width: 1920px) {
  .abt .modal_about .input_box .title {
    font-size: 24px;
  }
}
@media (max-width: 1620px) {
  .abt .modal_about .input_box .title {
    font-size: 24px;
  }
}
@media (max-width: 1240px) {
  .abt .modal_about .input_box .title {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .abt .modal_about .input_box .title {
    font-size: 21px;
  }
}
@media (max-width: 640px) {
  .abt .modal_about .input_box .title {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .abt .modal_about .input_box .title {
    font-size: 16px;
  }
}
.abt .modal_about .input_box .inputs {
  display: flex;
  flex-wrap: wrap;
}
.abt .modal_about .input_box .inputs .input {
  width: 335px;
  height: 56px;
  margin-bottom: 30px;
  border: 1px solid #828282;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 1024px) {
  .abt .modal_about .input_box .inputs .input {
    max-width: 335px;
    width: 100%;
  }
}
.abt .modal_about .input_box .inputs .input .label {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  left: 15px;
  top: -8px;
  background-color: white;
  z-index: 10;
  padding: 0 17px;
}
@media (max-width: 1920px) {
  .abt .modal_about .input_box .inputs .input .label {
    font-size: 14px;
  }
}
@media (max-width: 1620px) {
  .abt .modal_about .input_box .inputs .input .label {
    font-size: 14px;
  }
}
@media (max-width: 1240px) {
  .abt .modal_about .input_box .inputs .input .label {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .abt .modal_about .input_box .inputs .input .label {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .abt .modal_about .input_box .inputs .input .label {
    font-size: 13px;
  }
}
@media (max-width: 450px) {
  .abt .modal_about .input_box .inputs .input .label {
    font-size: 12px;
  }
}
.abt .modal_about .input_box .inputs .input:nth-child(odd) {
  margin-right: 55px;
}
@media (max-width: 1024px) {
  .abt .modal_about .input_box .inputs .input:nth-child(odd) {
    margin-right: 0;
  }
}
.abt .modal_about .input_box .inputs .input select {
  height: 100%;
  border: none;
}
.abt .modal_about .input_box .inputs .input .input-group {
  height: 100%;
}
.abt .modal_about .input_box .inputs .input .input-group input {
  border: none;
}
.abt .modal_about .input_box .inputs .input.phone select {
  margin-left: 25px;
  max-width: 80px;
}
@media (max-width: 1024px) {
  .abt .modal_about .input_box .inputs {
    flex-direction: column;
    align-items: center;
  }
}
.abt .modal_about #date_separator {
  position: relative;
}
.abt .modal_about #date_separator::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 12%;
  width: 1px;
  height: 76%;
  background-color: #828282;
  z-index: 1000;
}
.abt .modal_about #inputPhone {
  position: relative;
}
.abt .modal_about #inputPhone::after {
  position: absolute;
  content: "";
  left: 105px;
  top: 12%;
  width: 1px;
  height: 76%;
  background-color: #828282;
  z-index: 1000;
}
.abt .modal_about .input_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .abt .modal_about .input_col {
    flex-direction: column;
  }
}
.abt .modal_about .input_col .title-section {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.abt .modal_about .modal_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .abt .modal_about .modal_footer {
    margin-top: 35px;
  }
}
@media (max-width: 640px) {
  .abt .modal_about .modal_footer {
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .abt .modal_about .modal_footer {
    margin-top: 25px;
  }
}
.abt .modal_about .modal_footer p {
  width: 100%;
  max-width: 478px;
  margin: 0 auto 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #828282;
}
@media (max-width: 1024px) {
  .abt .modal_about .modal_footer p {
    margin-bottom: 35px;
  }
}
@media (max-width: 640px) {
  .abt .modal_about .modal_footer p {
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .abt .modal_about .modal_footer p {
    margin-bottom: 25px;
  }
}
.abt .modal_about .modal_footer button {
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  padding: 20px 80px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1920px) {
  .abt .modal_about .modal_footer button {
    padding: 20px 80px;
    font-size: 18px;
  }
}
@media (max-width: 1620px) {
  .abt .modal_about .modal_footer button {
    padding: 20px 80px;
    font-size: 18px;
  }
}
@media (max-width: 1240px) {
  .abt .modal_about .modal_footer button {
    padding: 20px 70px;
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .abt .modal_about .modal_footer button {
    padding: 15px 70px;
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .abt .modal_about .modal_footer button {
    padding: 10px 60px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .abt .modal_about .modal_footer button {
    padding: 10px 60px;
    font-size: 14px;
  }
}

.range-slider {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.range-slider .count {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #FEFEFE;
  letter-spacing: 0.05rem;
}
@media (max-width: 1920px) {
  .range-slider .count {
    font-size: 24px;
  }
}
@media (max-width: 1620px) {
  .range-slider .count {
    font-size: 24px;
  }
}
@media (max-width: 1240px) {
  .range-slider .count {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .range-slider .count {
    font-size: 22px;
  }
}
@media (max-width: 640px) {
  .range-slider .count {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .range-slider .count {
    font-size: 20px;
  }
}
.range-slider .count span + span {
  font-size: 16px;
  color: #dcdcdc;
  margin-left: -6px;
}
@media (max-width: 1920px) {
  .range-slider .count span + span {
    font-size: 16px;
  }
}
@media (max-width: 1620px) {
  .range-slider .count span + span {
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  .range-slider .count span + span {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .range-slider .count span + span {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .range-slider .count span + span {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .range-slider .count span + span {
    font-size: 12px;
  }
}
.range-slider input[type=range] {
  width: 245px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.range-slider input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  background: rgb(189, 189, 189);
}
.range-slider input[type=range]::-webkit-slider-thumb {
  background: #FEFEFE;
  cursor: pointer;
  width: 30px;
  height: 10px;
  -webkit-appearance: none;
  margin-top: -2px;
}
.range-slider input[type=range]::-moz-range-track {
  height: 5px;
  background-color: #fff;
}
.range-slider input[type=range]::-moz-range-thumb {
  background: #ecf0f1;
  cursor: pointer;
}

/*# sourceMappingURL=head.css.map */
