header {
  background-color: var(--bg_color_main);
  color: var(--text_color_black_900);
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  height: 94px;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  header {
    font-size: 15px;
    line-height: 18px;
    height: 74px;
  }
}
@media (max-width: 640px) {
  header {
    font-size: 14px;
    height: 64px;
  }
}
header .image {
  width: 100%;
  max-width: 59px;
  height: 42px;
  cursor: pointer;
}
header .image svg {
  transition: 0.3s;
}
header .nav {
  width: 100%;
  max-width: 570px;
}
@media (max-width: 820px) {
  header .nav.desc {
    display: none;
  }
}
header .header-nav__menu {
  width: 100%;
}
header .header-nav__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
header .header-nav__menu ul li {
  position: relative;
}
header .header-nav__menu ul li.current_page_item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--text_color_black_900);
  bottom: -3px;
  left: 0;
  transition: 0.3s;
}
header .header-nav__menu ul a {
  color: var(--text_color_black_900);
  transition: 0.3s;
}
header input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
header label {
  cursor: pointer;
  text-indent: -9999px;
  width: 54px;
  height: 30px;
  background: var(--bg_color_gray_100);
  display: block;
  border-radius: 100px;
  position: relative;
}
header label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: var(--switch_button);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 90px;
  transition: 0.3s;
}
header input:checked + label {
  background: var(--bg_color_gray_100);
}
header input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
header label:active:after {
  width: 10px;
}
header .menu_burger {
  cursor: pointer;
  width: 40px;
  height: 21px;
  margin-left: 35px;
  display: none;
  z-index: 1000;
}
@media (max-width: 820px) {
  header .menu_burger {
    display: block;
  }
}
header .menu_burger .hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
}
header .menu_burger .hamburger.is-active .hamburger-inner,
header .menu_burger .hamburger.is-active .hamburger-inner::before,
header .menu_burger .hamburger.is-active .hamburger-inner::after {
  background-color: var(--text_color_black_900);
}
header .menu_burger .hamburger-box {
  width: 40px;
  height: 21px;
  display: inline-block;
  position: relative;
}
header .menu_burger .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
header .menu_burger .hamburger-inner, header .menu_burger .hamburger-inner::before, header .menu_burger .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--text_color_black_900);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
header .menu_burger .hamburger-inner::before, header .menu_burger .hamburger-inner::after {
  content: "";
  display: block;
}
header .menu_burger .hamburger-inner::before {
  top: -6px;
}
header .menu_burger .hamburger-inner::after {
  width: calc(100% - 7px);
  right: 0;
  bottom: -6px;
}
header .menu_burger .hamburger.is-active .hamburger-inner::after {
  width: 100%;
}
header .menu_burger .hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
header .menu_burger .hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
header .menu_burger .hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
header .menu_burger .hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .menu_burger .hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
header .menu_burger .hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .modal_nav_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg_color_gray_100);
  color: var(--text_color_black_900);
  justify-content: center;
  align-items: center;
  z-index: 20;
}
header .modal_nav_menu.open {
  animation-name: open_modal;
  animation-duration: 0.5s;
}
header .modal_nav_menu.close {
  animation-name: close_modal;
  animation-duration: 0.5s;
}
header .modal_nav_menu .nav ul {
  flex-direction: column;
}
header .modal_nav_menu .nav ul li {
  margin-bottom: 25px;
}

/*# sourceMappingURL=header.css.map */
