:root{
    --text_color_black_900:       #333333;
    --bg_color_main:              #FFFFFF;
    --switch_button:              #FFFFFF;
    --bg_color_gray_100:          #F2F2F2;
}

.dark_mode{
    --bg_color_main:             #333333;
    --switch_button:             #181818;
    --text_color_black_900:      #FFFFFF;
    --bg_color_gray_100:         #4F4F4F;
}